<div>
  <h1>New Message</h1>
  <div class="error">
    <% errors.forEach((error) => { %> 
      <p><%= error %></p>
    <% }); %>
  </div>
  <form 
    method="POST" 
    action="/new" 
    class="container-vertical dont-grow"
  >
    <input 
      type="text" 
      placeholder="Author name" 
      id="authorName" 
      name="user"
      value="<%= values.user || ""%>"
    />
    <textarea 
      placeholder="message" 
      id="message"
      name="text"
    ><%= values.text ? `${values.text}` : ""%></textarea>
    <input class="button" type="submit" />
  </form>
</div>
