<div style="margin-block-end: 2rem;">
  <hr/>
  <h4><%= message.user %> @ <%= formatDate(message.added)%></h4>
  <p><%= message.text %></p>
  <a href="<%=`/message/${id}`%>" class="button small-text">View Details</a>
</div>
