<% messages.forEach((message, i) => { %>
  <%- include("../partials/message", {message: message, id: i}) %>
<% }); %>

<div id="page-bottom">
  <% if (showForm) {%>
    <%- include("../partials/form", {errors: errors, values: values}) %>
  <% } else {%>
    <a href="/new" class="button">Add a new Message</a>
  <% } %>
</div>

<script>
  document.getElementById("page-bottom").scrollIntoView();
</script>